.btn--btnIndex {
  background-color: blue;
  border-color: blue; }

.btn--btnNosotros {
  background-color: mediumblue;
  border-color: mediumblue; }

.btn--btnProductos {
  background-color: dodgerblue;
  border-color: dodgerblue; }

header img {
  max-width: 10%;
  max-height: 10%; }

.paddingDesbor {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px; }

.promocionesBancarias {
  padding-right: 0px; }
  .promocionesBancarias img {
    width: 100%;
    margin-top: 30px; }

.pieNosotros, .pieInformacion, .pieCentroDeAtencion {
  list-style: none;
  color: white;
  text-decoration: none;
  margin-top: 16px; }

.pieCentroDeAtencion a {
  list-style: none;
  color: white;
  text-decoration: none;
  margin-top: 16px; }

.pieInformacion a {
  list-style: none;
  color: white;
  text-decoration: none;
  margin-top: 16px; }

.derechosReservados {
  color: white;
  text-align: center; }

.encabezado1, .encabezado2, .h1Productos {
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: mediumblue;
  margin-bottom: 0px;
  box-shadow: 0px 0px 10px 0px white inset; }

.encabezado2 {
  margin-bottom: 30px;
  background-color: DimGray; }

.card-body, .card-title {
  width: 100%;
  text-align: center;
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 0.7rem;
  color: DimGray; }

.promocionesBancarias {
  padding-right: 0px; }
  .promocionesBancarias img {
    width: 100%;
    margin-top: 30px; }

.Nosotros, .valores, .FinGracias {
  margin: 60px 30px 60px 30px;
  width: 70%;
  text-align: justify;
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1rem;
  color: DimGray; }

.zonaSucursal, .direcSucursal, .HorarioSucursal {
  margin: 5px;
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1rem;
  color: DimGray;
  text-align: center; }

.ubicacionSucursal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px; }

.gridProductos {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  margin-top: 0px;
  margin-bottom: 0px; }

.cabeceraProductos {
  grid-area: header;
  display: grid;
  grid-template-areas: "logo buscar navLink";
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 100%;
  background-color: black; }

.logo {
  grid-area: logo;
  display: grid;
  justify-content: center; }
  .logo a {
    align-self: center; }
  .logo .imgLogo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    max-width: 40%;
    max-height: 40%; }

.buscar {
  grid-area: buscar;
  display: grid;
  align-content: center;
  justify-content: center; }
  .buscar input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding-top: 6px;
    padding-bottom: 6px; }

.btnBuscar, .cardsProductos .btnCard {
  color: #fff;
  border-color: #0d6efd;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin: 0px; }

.navLink {
  grid-area: navLink;
  display: grid;
  align-content: center;
  justify-content: center; }
  .navLink ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .navLink li {
    float: left; }
  .navLink a {
    color: white;
    font-style: Normal;
    font-family: Arial, Times New Roman, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    text-decoration: none; }
    .navLink a:hover {
      background-color: gray; }
  .navLink .imgNav {
    max-width: 50%;
    max-height: 50%; }

.h1Productos {
  margin-top: 0px; }

.cuerpoProductos {
  grid-area: main;
  display: grid;
  grid-template-areas: "h1Productos h1Productos" "containerSeleccione containerSeleccione" "opcionesProducto cardsProductos";
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto); }

.h1Productos {
  grid-area: h1Productos; }

.containerSeleccione {
  grid-area: containerSeleccione;
  margin: 30px 30px 10px 60px;
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1rem;
  color: DimGray;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 3px;
  width: 10%; }

.opcionesProducto {
  grid-area: opcionesProducto;
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 0.8rem;
  color: DimGray;
  margin: 10px 40px 10px 30px; }
  .opcionesProducto li {
    list-style-type: none; }

.cardsProductos {
  grid-area: cardsProductos;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .cardsProductos .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-bottom: 5px; }
  .cardsProductos .card-body {
    background-color: rgba(211, 211, 211, 0.2);
    padding-bottom: 20px; }

.pieProductos {
  grid-area: footer;
  display: grid;
  grid-template-areas: "pieNosotros pieInformacion pieCentroAtencion rrss" "derechosReservados derechosReservados derechosReservados derechosReservados";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  background-color: black;
  margin-top: 20px; }
  .pieProductos .mt0 {
    margin-top: 0px; }

.pieNosotros {
  grid-area: pieNosotros;
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1rem;
  color: white; }
  .pieNosotros ul {
    list-style: none;
    color: white;
    text-decoration: none;
    margin-top: 16px; }

.pieInformacion {
  grid-area: pieInformacion;
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1rem;
  color: white; }
  .pieInformacion ul {
    list-style: none;
    color: white;
    text-decoration: none;
    margin-top: 16px; }

.pieCentroAtencion {
  grid-area: pieCentroAtencion;
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1rem;
  color: white; }
  .pieCentroAtencion a {
    list-style: none;
    color: white;
    text-decoration: none;
    margin-top: 16px; }

.rrss {
  grid-area: rrss;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.derechosReservados {
  grid-area: derechosReservados;
  font-family: Arial, Times New Roman, sans-serif; }

@media only screen and (max-width: 768px) {
  .cabeceraProductos {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo navLink" "buscar buscar";
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    background-color: black; }
  .logo {
    grid-area: logo; }
  .navLink {
    grid-area: navLink; }
  .buscar {
    grid-area: buscar;
    padding-bottom: 10px; }
  .cuerpoProductos .cardProducto3, .cuerpoProductos .cardProducto4 {
    margin-bottom: 20px; }
  .cuerpoProductos .cardProducto5, .cuerpoProductos .cardProducto6 {
    display: none; }
  .pieProductos {
    grid-area: footer;
    display: flex;
    flex-direction: column; }
    .pieProductos h4 {
      margin-top: 8px;
      margin-bottom: 8px; }
  .pieCentroAtencion {
    padding-left: 40px; }
  .rrss {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; }
    .rrss img {
      width: 30px;
      height: 24px; } }

.formaConsulta {
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1rem;
  color: DimGray;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 75%; }

.datosContacto div {
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1.5rem;
  color: DimGray;
  margin-left: 30px;
  padding-bottom: 10px; }

.datosContacto input {
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 0.6rem;
  color: DimGray;
  border: 1px solid DimGray;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 3px;
  width: auto; }

.datosContacto label {
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1rem;
  color: DimGray;
  margin-left: 30px; }

.datosContacto textarea {
  margin-left: 30px;
  margin-bottom: 30px; }

.pViaMail {
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 1.5rem;
  color: DimGray;
  margin-top: 30px; }

select {
  font-style: Normal;
  font-family: Arial, Times New Roman, sans-serif;
  font-size: 0.6rem;
  color: DimGray;
  border: 1px solid DimGray;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 3px;
  width: auto; }

button {
  margin-left: 30px;
  margin-bottom: 30px; }

input:focus {
  font-size: 1rem; }

@media only screen and (max-width: 768px) {
  body .cardProducto3 {
    display: none; }
  body .cardProducto4 {
    display: none; }
  body .cardProducto7 {
    display: none; }
  body .cardProducto8 {
    display: none; }
  body footer li {
    display: none; }
  body .busqueda {
    display: none; }
  body .navbar-brand {
    width: 50%; }
  body .pieCentroDeAtencion {
    padding-left: 45px; }
  body .derechosReservados {
    text-align: left;
    padding-left: 45px;
    padding-top: 35px;
    font-weight: bold; }
  body .cardProducto1 {
    width: 50%; }
  body .cardProducto2 {
    width: 50%; }
  body .rrss {
    padding-left: 45px;
    align-items: flex-start; }
  body .datosContacto label {
    margin-left: 20px; }
  body button {
    margin-left: 20px; }
  body .abastoSucursal {
    padding-bottom: 30px; }
  body .opcionesProducto {
    display: none; }
  body .cardsProductos {
    width: 100%; }
  body .cajaseleccione {
    width: auto; } }
